Repository ArdentHQ/platform-sdk, pull requests merged in 2024-12, with the labels that each got.

#126 feat: implement EVM validator resignation transaction
  docs/profiles/wallets.md
  packages/mainsail/source/transaction.service.test.ts
  packages/mainsail/source/transaction.service.ts
  packages/profiles/source/wallet-transaction.service.contract.ts
  packages/profiles/source/wallet-transaction.service.ts
  packages/sdk/source/transaction.contract.ts
  packages/sdk/source/transaction.service.ts
Labels: feature

#124 feat: implement EVM validator registration transaction
  docs/profiles/wallets.md
  packages/mainsail/package.json
  packages/mainsail/source/transaction.service.test.ts
  packages/mainsail/source/transaction.service.ts
  packages/profiles/source/wallet-transaction.service.contract.ts
  packages/profiles/source/wallet-transaction.service.ts
  packages/sdk/source/transaction.contract.ts
  packages/sdk/source/transaction.service.ts
  pnpm-lock.yaml
Labels: feature

#127 refactor: update consensus contract address
  packages/mainsail/source/transaction.service.ts
Labels: refactor

#125 feat: use `EvmCall` for vote & unvote transactions
  packages/mainsail/source/transaction-type.service.ts
  packages/mainsail/source/transaction.service.ts
  packages/mainsail/source/transaction.service.votes.test.ts
  pnpm-lock.yaml
Labels: feature

#128 refactor: validator registration and resignation methods
  packages/mainsail/source/networks/shared.ts
  packages/mainsail/source/wallet.dto.ts
  packages/profiles/source/wallet.contract.ts
  packages/profiles/source/wallet.ts
  packages/sdk/snapshots/enums-feature-flags.snapshot
  packages/sdk/source/contracts.ts
  packages/sdk/source/enums.ts
  packages/sdk/source/network.models.ts
  packages/sdk/source/wallet.dto.ts
Labels: refactor

#129 chore: add feature flags for mainsail validator transactions
  packages/mainsail/source/networks/shared.ts
  scripts/manifest-updater.js
Labels: chore

#131 feat: expose transaction success state
  packages/mainsail/source/confirmed-transaction.dto.ts
  packages/profiles/source/transaction.dto.ts
  packages/sdk/source/confirmed-transaction.dto.contract.ts
  packages/sdk/source/confirmed-transaction.dto.ts
Labels: feature

#130 refactor: add validator methods for transaction classes
  packages/mainsail/source/confirmed-transaction.dto.ts
  packages/mainsail/source/helpers/decode-function-data.ts
  packages/mainsail/source/signed-transaction.dto.ts
  packages/mainsail/source/transaction-type.service.ts
  packages/profiles/source/signed-transaction.dto.ts
  packages/profiles/source/transaction.dto.ts
  packages/sdk/source/confirmed-transaction.dto.contract.ts
  packages/sdk/source/confirmed-transaction.dto.ts
  packages/sdk/source/signed-transaction.dto.contract.ts
  packages/sdk/source/signed-transaction.dto.ts
Labels: refactor

#133 refactor: use empty string to identify transfer transactions
  packages/mainsail/source/transaction-type.service.ts
Labels: refactor

#135 refactor: remove vendor field from transfers
  packages/mainsail/source/networks/shared.ts
  packages/mainsail/source/transaction.service.ts
Labels: refactor

#134 refactor: use method name as a type if transaction is not one of predefined types
  packages/mainsail/source/confirmed-transaction.dto.ts
  packages/mainsail/source/signed-transaction.dto.ts
  packages/mainsail/source/transaction-type.service.ts
  packages/sdk/source/confirmed-transaction.dto.contract.ts
  packages/sdk/source/confirmed-transaction.dto.ts
  packages/sdk/source/signed-transaction.dto.contract.ts
  packages/sdk/source/signed-transaction.dto.ts
Labels: refactor

#136 refactor: update voting methods for mainsail network
  packages/mainsail/source/confirmed-transaction.dto.ts
  packages/mainsail/source/signed-transaction.dto.ts
Labels: refactor

#137 fix: remove unsupported types for signed transaction class
  packages/sdk/source/signed-transaction.dto.ts
Labels: bugfix

#138 fix: correct fee unit in signed & confirmed tx dto
  packages/mainsail/source/confirmed-transaction.dto.ts
  packages/mainsail/source/signed-transaction.dto.ts
  packages/mainsail/source/transaction.service.test.ts
  packages/mainsail/source/transaction.service.votes.test.ts
Labels: bugfix
