Repository ArdentHQ/platform-sdk, pull requests merged in 2024-05, with the labels that each got.

#80 chore: upgrade Node and pnpm version for workflows
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/label.yml
  .github/workflows/validators.yml
  pnpm-lock.yaml
Labels: chore

#83 refactor(ark): expose `NetworkManager`
  packages/ark/source/index.ts
Labels: refactor

#84 refactor(mainsail): expose `NetworkManager`
  packages/mainsail/source/index.ts
Labels: refactor

#89 refactor: sanitize signatures for pending musig transactions
  packages/mainsail/source/crypto/transactions/builders/index.ts
  packages/mainsail/source/crypto/transactions/builders/multi-payment.ts
  packages/mainsail/source/crypto/transactions/builders/transaction.ts
  packages/mainsail/source/crypto/transactions/builders/transfer.ts
  packages/mainsail/source/crypto/transactions/builders/vote.ts
  packages/mainsail/source/crypto/transactions/signer.ts
  packages/mainsail/source/multi-signature.transaction.ts
  packages/mainsail/source/signed-transaction.dto.ts
  packages/profiles/source/wallet-transaction.service.ts
  packages/sdk/source/signed-transaction.dto.contract.ts
  packages/sdk/source/signed-transaction.dto.ts
Labels: refactor

#85 refactor: implement multisignature transfer
  packages/mainsail/source/multi-signature.signer.ts
  packages/mainsail/source/transaction.service.ts
Labels: refactor

#90 refactor: implement username musig registration/resignation transactions
  packages/mainsail/source/transaction.service.ts
Labels: refactor

#91 fix: wallet cold/hot status issue
  packages/profiles/source/transaction-index.ts
Labels: bugfix

#88 refactor(mainsail): move app handling in `ServiceProvider`
  packages/mainsail/source/coin.contract.ts
  packages/mainsail/source/coin.provider.ts
  packages/mainsail/source/crypto/transactions/builders/index.ts
  packages/mainsail/source/crypto/transactions/signer.ts
  packages/mainsail/source/index.ts
  packages/mainsail/source/multi-signature.signer.ts
  packages/mainsail/source/public-key.service.ts
  packages/mainsail/source/signed-transaction.dto.ts
  packages/mainsail/source/transaction.service.ts
Labels: refactor
