Repository ArdentHQ/platform-sdk, pull requests merged in 2024-04, with the labels that each got.

#50 refactor: remove static fees mock
  packages/mainsail/source/fee.service.ts
Labels: refactor

#49 refactor: mainsail network configuration
  packages/mainsail/source/index.ts
  packages/mainsail/source/manifest.ts
  packages/mainsail/source/networks/mainsail.devnet.ts
  packages/mainsail/source/networks/mainsail.mainnet.ts
  packages/profiles/source/coin.service.ts
Labels: refactor

#52 fix: remove mocked timestamp and confirmation fields
  packages/mainsail/source/confirmed-transaction.dto.ts
Labels: bugfix

#47 refactor: enable multipayments with mainsail
  packages/mainsail/package.json
  packages/mainsail/source/client.service.ts
  packages/mainsail/source/transaction.service.ts
  pnpm-lock.yaml
Labels: refactor

#53 refactor: use transfer signature again
  packages/mainsail/source/transaction.service.ts
Labels: refactor

#51 feat: implement Mainsail vote, unvote, swap actions
  packages/mainsail/package.json
  packages/mainsail/source/client.service.ts
  packages/mainsail/source/crypto/transactions/builders/index.ts
  packages/mainsail/source/transaction-type.service.ts
  packages/mainsail/source/transaction.service.ts
  pnpm-lock.yaml
Labels: feature

#57 refactor: remove second signature transaction builder and registration
  packages/mainsail/source/crypto/transactions/builders/index.ts
  packages/mainsail/source/crypto/transactions/builders/second-signature.ts
  packages/mainsail/source/crypto/transactions/registry.ts
  packages/mainsail/source/crypto/transactions/types/index.ts
  packages/mainsail/source/crypto/transactions/types/second-signature-registration.ts
Labels: refactor

#58 refactor: retrieve validator data instead of delegate
  packages/mainsail/source/wallet.dto.ts
Labels: refactor

#56 fix: create mainsail tx sender from public key api response
  packages/mainsail/source/confirmed-transaction.dto.ts
Labels: bugfix

#60 fix: use correct path for transaction username
  packages/mainsail/source/confirmed-transaction.dto.ts
Labels: bugfix

#59 feat: implement username register/resign transaction types
  packages/ark/source/fee.service.ts
  packages/mainsail/package.json
  packages/mainsail/source/client.service.ts
  packages/mainsail/source/confirmed-transaction.dto.ts
  packages/mainsail/source/crypto/enums.ts
  packages/mainsail/source/crypto/networks/mainnet/milestones.ts
  packages/mainsail/source/crypto/transactions/builders/index.ts
  packages/mainsail/source/crypto/transactions/registry.ts
  packages/mainsail/source/crypto/transactions/types/index.ts
  packages/mainsail/source/crypto/transactions/types/schemas.ts
  packages/mainsail/source/crypto/transactions/types/username-registration.ts
  packages/mainsail/source/crypto/transactions/types/username-resignation.ts
  packages/mainsail/source/fee.service.ts
  packages/mainsail/source/networks/shared.ts
  packages/mainsail/source/signed-transaction.dto.ts
  packages/mainsail/source/transaction-type.service.ts
  packages/mainsail/source/transaction.service.ts
  packages/profiles/source/environment.test.ts
  packages/profiles/source/fee.service.test.ts
  packages/profiles/source/signed-transaction.dto.ts
  packages/profiles/source/transaction.dto.ts
  packages/profiles/source/wallet-transaction.service.contract.ts
  packages/profiles/source/wallet-transaction.service.ts
  packages/sdk/snapshots/enums-feature-flags.snapshot
  packages/sdk/source/confirmed-transaction.dto.contract.ts
  packages/sdk/source/confirmed-transaction.dto.ts
  packages/sdk/source/enums.ts
  packages/sdk/source/fee.contract.ts
  packages/sdk/source/network.models.ts
  packages/sdk/source/signed-transaction.dto.contract.ts
  packages/sdk/source/signed-transaction.dto.ts
  packages/sdk/source/transaction.contract.ts
  packages/sdk/source/transaction.service.ts
  pnpm-lock.yaml
  scripts/manifest-updater.js
Labels: feature

#63 refactor: remove ledger feature support from mainsail config
  packages/mainsail/source/networks/shared.ts
Labels: refactor

#65 refactor: remove unsupported transactions from mainsail
  packages/ark/source/crypto/transactions/types/schemas.ts
  packages/mainsail/source/client.service.ts
  packages/mainsail/source/crypto/enums.ts
  packages/mainsail/source/crypto/transactions/builders/index.ts
  packages/mainsail/source/crypto/transactions/builders/ipfs.ts
  packages/mainsail/source/crypto/transactions/registry.ts
  packages/mainsail/source/crypto/transactions/types/index.ts
  packages/mainsail/source/crypto/transactions/types/ipfs.ts
  packages/mainsail/source/crypto/transactions/types/schemas.ts
  packages/mainsail/source/networks/shared.ts
  packages/mainsail/source/transaction.service.ts
Labels: refactor

#66 refactor: correctly retrieve votes & unvotes in confirmed tx dto
  packages/mainsail/source/confirmed-transaction.dto.ts
Labels: refactor

#67 fix: username register/resign related bugs
  packages/mainsail/source/signed-transaction.dto.ts
  packages/mainsail/source/transaction.service.ts
  packages/sdk/source/signed-transaction.dto.ts
Labels: bugfix

#69 feat: add `Network#allowsLedger` method
  packages/sdk/source/network.test.ts
  packages/sdk/source/network.ts
Labels: feature

#71 fix: incorrect isDelegate condition
  packages/mainsail/source/wallet.dto.ts
Labels: bugfix

#72 refactor: use createFromData method on all transactions
  packages/mainsail/source/crypto/transactions/builders/index.ts
  packages/mainsail/source/transaction.service.ts
Labels: refactor

#73 refactor: set mainsail fees to static
  packages/mainsail/source/networks/mainsail.devnet.ts
  packages/mainsail/source/networks/shared.ts
Labels: refactor

#68 feat: add bls validation in mainsail
  packages/mainsail/package.json
  packages/mainsail/source/public-key.service.ts
  packages/mainsail/webpack.config.cjs
  packages/sdk/source/extended-public-key.contract.ts
  packages/sdk/source/extended-public-key.service.ts
  packages/sdk/source/public-key.contract.ts
  packages/sdk/source/public-key.service.ts
  pnpm-lock.yaml
Labels: feature

#77 refactor: update delegate search error message
  packages/profiles/source/delegate.service.ts
Labels: refactor

#78 fix: validate signature only if provided
  packages/ark/source/crypto/validation/index.ts
Labels: bugfix
