Repository ArdentHQ/platform-sdk, pull requests merged in 2024-11, with the labels that each got.

#104 refactor: add votes/unvotes methods to retrieve voting info
  packages/ark/source/signed-transaction.dto.test.ts
  packages/ark/source/signed-transaction.dto.ts
  packages/profiles/source/signed-transaction.dto.ts
  packages/sdk/source/signed-transaction.dto.contract.ts
  packages/sdk/source/signed-transaction.dto.ts
Labels: refactor

#107 feat(ark): add support for multiple types in transactions query
  packages/ark/source/client.service.ts
  packages/sdk/source/client.contract.ts
Labels: feature

#106 refactor: `isReturn` and `total` methods
  packages/ark/source/confirmed-transaction.dto.ts
  packages/profiles/source/signed-transaction.dto.ts
  packages/profiles/source/transaction.dto.test.ts
  packages/profiles/source/transaction.dto.ts
Labels: refactor

#108 refactor: handle `total()` for musig transactions
  packages/profiles/source/signed-transaction.dto.ts
Labels: refactor

#109 fix(ark): use correct type group on core & magistrate tx type filters
  packages/ark/source/client.service.ts
Labels: bugfix

#111 fix: correct filtering for transfer transactions
  packages/ark/source/client.service.ts
Labels: bugfix

#110 refactor: add `nonce` method for signed and confirmed transactions
  packages/ark/source/confirmed-transaction.dto.ts
  packages/ark/source/signed-transaction.dto.ts
  packages/profiles/source/signed-transaction.dto.ts
  packages/profiles/source/transaction.dto.ts
  packages/sdk/source/confirmed-transaction.dto.contract.ts
  packages/sdk/source/confirmed-transaction.dto.ts
  packages/sdk/source/signed-transaction.dto.contract.ts
  packages/sdk/source/signed-transaction.dto.ts
Labels: refactor

#112 fix: ensure multipayment amounts are BigNumbers
  packages/ark/source/multi-signature.service.ts
Labels: bugfix

#113 chore: update mainsail dependencies
  packages/mainsail/package.json
  pnpm-lock.yaml
Labels: chore

#114 refactor: update ark decimals to 18 and new helpers
  packages/mainsail/source/crypto/constants.ts
  packages/mainsail/source/crypto/networks/devnet/milestones.ts
  packages/mainsail/source/helpers/format-units.test.ts
  packages/mainsail/source/helpers/format-units.ts
  packages/mainsail/source/helpers/parse-units.test.ts
  packages/mainsail/source/helpers/parse-units.ts
  packages/mainsail/source/networks/mainsail.devnet.ts
  packages/mainsail/source/networks/mainsail.mainnet.ts
  packages/test/source/assert.ts
Labels: refactor

#115 chore: update mainsail dependencies to latest version
  packages/mainsail/package.json
  packages/mainsail/source/crypto/transactions/signer.ts
  pnpm-lock.yaml
Labels: chore

#118 refactor: disable transactions for mainsail
  packages/mainsail/package.json
  packages/mainsail/source/coin.provider.ts
  packages/mainsail/source/crypto/transactions/builders/index.ts
  packages/mainsail/source/transaction.service.ts
  pnpm-lock.yaml
Labels: refactor

#117 refactor: remove ipfs and second signature types
  packages/mainsail/source/client.service.ts
  packages/mainsail/source/confirmed-transaction.dto.ts
  packages/mainsail/source/crypto/enums.ts
  packages/mainsail/source/crypto/interfaces/transactions.ts
  packages/mainsail/source/crypto/networks/mainnet/milestones.ts
  packages/mainsail/source/crypto/transactions/deserializer.ts
  packages/mainsail/source/crypto/transactions/serializer.ts
  packages/mainsail/source/crypto/transactions/signer.ts
  packages/mainsail/source/crypto/transactions/types/schemas.ts
  packages/mainsail/source/crypto/transactions/types/transaction.ts
  packages/mainsail/source/crypto/transactions/verifier.ts
  packages/mainsail/source/multi-signature.signer.ts
  packages/mainsail/source/signed-transaction.dto.ts
  packages/mainsail/source/transaction-type.service.ts
  packages/mainsail/source/transaction.service.ts
  packages/mainsail/source/wallet.dto.ts
Labels: refactor

#116 refactor: disable musig transaction type for Mainsail
  packages/mainsail/source/networks/shared.ts
  packages/mainsail/source/transaction.service.ts
Labels: refactor

#119 refactor: enable tests on mainsail
  .github/workflows/ci.yml
  packages/mainsail/source/helpers/format-units.test.ts
  packages/mainsail/source/helpers/format-units.ts
  packages/mainsail/source/helpers/parse-units.test.ts
  packages/mainsail/source/helpers/parse-units.ts
Labels: refactor

#121 refactor: mainsail transaction fee calculation
  packages/mainsail/source/confirmed-transaction.dto.ts
Labels: refactor

#122 fix: extract decimals from network config
  packages/profiles/source/wallet.ts
Labels: bugfix

#120 feat: use `EvmCall` to build transactions
  packages/mainsail/package.json
  packages/mainsail/source/coin.provider.ts
  packages/mainsail/source/confirmed-transaction.dto.ts
  packages/mainsail/source/crypto/transactions/builders/index.ts
  packages/mainsail/source/networks/mainsail.devnet.ts
  packages/mainsail/source/signed-transaction.dto.ts
  packages/mainsail/source/transaction-type.service.ts
  packages/mainsail/source/transaction.service.test.ts
  packages/mainsail/source/transaction.service.ts
  packages/mainsail/test/fixtures/client/cryptoConfiguration.json
  packages/mainsail/test/fixtures/client/syncing.json
  packages/mainsail/test/mocking.ts
  packages/mainsail/test/wallets/index.ts
  pnpm-lock.yaml
Labels: feature

#123 refactor: handle mainsail transaction filters
  packages/mainsail/package.json
  packages/mainsail/source/client.service.ts
  packages/mainsail/source/transaction-type.service.ts
  pnpm-lock.yaml
Labels: refactor
