Repository ArdentHQ/platform-sdk, pull requests merged in 2024-03, with the labels that each got.

#27 feat(profiles): include additional fields in profile settings
  packages/profiles/source/environment.test.ts
  packages/profiles/source/profile.enum.contract.ts
  packages/profiles/source/profile.test.ts
  packages/profiles/source/profile.validator.test.ts
  packages/profiles/source/profile.validator.ts
Labels: feature

#26 feat(profiles): add primary wallet setting
  packages/profiles/source/serialiser.ts
  packages/profiles/source/wallet.contract.ts
  packages/profiles/source/wallet.enum.ts
  packages/profiles/source/wallet.test.ts
  packages/profiles/source/wallet.ts
Labels: feature

#28 refactor: remove unused `hasOnboarded` profile setting
  packages/profiles/source/environment.test.ts
  packages/profiles/source/profile.enum.contract.ts
  packages/profiles/source/profile.test.ts
  packages/profiles/source/profile.validator.test.ts
  packages/profiles/source/profile.validator.ts
Labels: refactor

#29 test: adjust `lastVisitedPage` input data
  packages/profiles/source/environment.test.ts
  packages/profiles/source/profile.test.ts
  packages/profiles/source/profile.validator.test.ts
Labels: test

#18 refactor: remove deprecated ledger `u2f` transport
  packages/ledger/package.json
  packages/ledger/source/index.ts
  pnpm-lock.yaml
Labels: refactor

#33 refactor: update mainsail network configuration
  packages/mainsail/source/crypto/networks/devnet/milestones.ts
  packages/mainsail/source/crypto/networks/devnet/network.ts
  packages/mainsail/source/networks/ark.devnet.ts
  scripts/build-release.sh
Labels: refactor

#35 chore: add instructions for local testing
  packages/mainsail/README.md
Labels: chore

#36 refactor: use mainsail domain
  packages/mainsail/source/networks/ark.devnet.ts
Labels: refactor

#38 refactor: update validator references in transaction service
  packages/mainsail/source/crypto/managers/config.ts
  packages/mainsail/source/crypto/networks/mainnet/milestones.ts
  packages/mainsail/source/transaction.service.ts
Labels: refactor

#37 refactor: temporarily mock static fees
  packages/mainsail/source/fee.service.ts
Labels: refactor

#41 refactor: initial transfer transaction broadcast using mainsail
  packages/mainsail/package.json
  packages/mainsail/source/client.service.ts
  packages/mainsail/source/crypto/transactions/factory.ts
  packages/mainsail/source/crypto/transactions/verifier.ts
  packages/mainsail/source/networks/ark.devnet.ts
  packages/mainsail/source/signed-transaction.dto.ts
  packages/mainsail/source/transaction.service.ts
  packages/mainsail/webpack.config.cjs
  packages/sdk/source/network.models.ts
  pnpm-lock.yaml
Labels: refactor

#42 refactor: adjust network configuration
  packages/mainsail/source/manifest.ts
  packages/mainsail/source/networks/mainsail.devnet.ts
  packages/mainsail/source/networks/mainsail.mainnet.ts
Labels: refactor

#43 refactor: extend mainsail webpack config from base
  packages/mainsail/source/transaction.service.ts
  packages/mainsail/webpack.config.cjs
Labels: refactor

#46 chore: disable `perf_hooks` in mainsail webpack config
  packages/mainsail/webpack.config.cjs
Labels: chore
