Repository ArdentHQ/platform-sdk, pull requests merged in 2025-03, with the labels that each got.

#191 refactor: prevent forcing network sync on wallet creation
  packages/profiles/source/serialiser.test.ts
  packages/profiles/source/wallet-transaction.service.test.ts
  packages/profiles/source/wallet.factory.test.ts
  packages/profiles/source/wallet.factory.ts
  packages/profiles/source/wallet.mutator.ts
  packages/profiles/source/wallet.repository.test.ts
  packages/profiles/source/wallet.synchroniser.test.ts
  packages/profiles/source/wallet.test.ts
  packages/profiles/test/integration/musig.test.helpers.ts
  packages/profiles/test/mocking.ts
Labels: refactor

#193 refactor: accept transport instance as a parameter in ledger service
  packages/mainsail/source/ledger.service.ts
  packages/mainsail/source/ledger.service.types.ts
  packages/mainsail/source/networks/mainsail.devnet.ts
  packages/sdk/source/ledger.contract.ts
  packages/sdk/source/ledger.service.ts
Labels: refactor

#196 fix: allow scanning multiple ledger addresses
  packages/mainsail/source/ledger.service.ts
Labels: bugfix

#198 refactor: remove deprecated ark endpoints from mainsail mainnet config
  packages/mainsail/source/link.service.test.ts
  packages/mainsail/source/networks/mainsail.mainnet.ts
Labels: refactor

#199 refactor: use solid random color for avatars
  packages/profiles/package.json
  packages/profiles/snapshots/helpers-avatar.snapshot
  packages/profiles/source/environment.test.ts
  packages/profiles/source/helpers/avatar.ts
  pnpm-lock.yaml
Labels: refactor

#205 chore: change node version in ci to 20.18
  .github/workflows/ci.yml
Labels: chore

#203 fix: outgoing tab labelling
  packages/profiles/source/transaction.aggregate.contract.ts
  packages/profiles/source/transaction.aggregate.test.ts
  packages/profiles/source/transaction.aggregate.ts
Labels: bugfix
