Repository ArdentHQ/platform-sdk, pull requests merged in 2025-04, with the labels that each got.

#202 feat: sign ledger transactions
  packages/mainsail/source/ledger.service.ts
  packages/mainsail/source/ledger.service.types.ts
  packages/mainsail/source/transaction.service.ts
  packages/sdk/source/ledger.contract.ts
  packages/sdk/source/ledger.service.ts
  pnpm-lock.yaml
Labels: feature

#206 refactor: improve ledger public key reading
  packages/ark/source/ledger.service.ts
  packages/mainsail/source/ledger.service.ts
  packages/sdk/source/ledger.contract.ts
Labels: refactor

#211 fix: multipayment amount
  packages/mainsail/source/transaction.service.ts
Labels: bugfix

#213 refactor: sync profile wallets for given network
  packages/profiles/source/wallet.service.ts
Labels: refactor

#212 refactor: add 2nd signature method for Mainsail
  packages/mainsail/source/wallet.dto.ts
Labels: refactor

#214 chore: update `syncByProfile` signature
  packages/profiles/source/wallet.service.contract.ts
Labels: chore
