Repository ArdentHQ/platform-sdk, pull requests merged in 2025-02, with the labels that each got.

#159 feat: implement username registration/resignation calls
  packages/mainsail/source/client.service.ts
  packages/mainsail/source/confirmed-transaction.dto.ts
  packages/mainsail/source/helpers/decode-function-data.ts
  packages/mainsail/source/signed-transaction.dto.ts
  packages/mainsail/source/transaction-type.service.ts
  packages/mainsail/source/transaction.service.test.ts
  packages/mainsail/source/transaction.service.ts
Labels: feature

#160 refactor: update username resignation function signature
  packages/mainsail/source/transaction-type.service.ts
Labels: refactor

#161 refactor: remove network from contact repository
  packages/profiles/source/contact-address.contract.ts
  packages/profiles/source/contact-address.repository.contract.ts
  packages/profiles/source/contact-address.repository.test.ts
  packages/profiles/source/contact-address.repository.ts
  packages/profiles/source/contact-address.test.ts
  packages/profiles/source/contact-address.ts
  packages/profiles/source/contact.repository.contract.ts
  packages/profiles/source/contact.repository.test.ts
  packages/profiles/source/contact.repository.ts
  packages/profiles/source/contact.test.ts
  packages/profiles/source/contact.ts
Labels: refactor

#162 refactor: remove contact network from profile validators
  packages/profiles/source/profile.importer.ts
  packages/profiles/source/profile.validator.test.ts
  packages/profiles/source/profile.validator.ts
Labels: refactor

#165 refactor: handle multipayment transactions
  packages/ark/source/signed-transaction.dto.ts
  packages/mainsail/source/confirmed-transaction.dto.ts
  packages/mainsail/source/helpers/decode-function-data.ts
  packages/mainsail/source/signed-transaction.dto.ts
  packages/mainsail/source/transaction-type.service.test.ts
  packages/mainsail/source/transaction-type.service.ts
  packages/profiles/source/signed-transaction.dto.ts
  packages/profiles/source/transaction.dto.ts
  packages/sdk/source/confirmed-transaction.dto.contract.ts
  packages/sdk/source/signed-transaction.dto.contract.ts
  packages/sdk/source/signed-transaction.dto.ts
Labels: refactor

#170 refactor: remove multisignature related tests
  packages/mainsail/source/address.service.test.ts
  packages/mainsail/source/confirmed-transaction.dto.test.ts
  packages/mainsail/source/public-key.service.test.ts
  packages/mainsail/source/transaction-type.service.test.ts
  packages/mainsail/source/wallet.dto.test.ts
  packages/mainsail/test/fixtures/identity.ts
Labels: refactor

#169 refactor: adjust gas price units
  packages/mainsail/package.json
  packages/mainsail/source/confirmed-transaction.dto.test.ts
  packages/mainsail/source/confirmed-transaction.dto.ts
  packages/mainsail/source/crypto/interfaces/networks.ts
  packages/mainsail/source/fee.service.ts
  packages/mainsail/source/networks/mainsail.devnet.ts
  packages/mainsail/source/signed-transaction.dto.test.ts
  packages/mainsail/source/signed-transaction.dto.ts
  packages/mainsail/source/transaction.service.test.ts
  packages/mainsail/source/transaction.service.ts
  packages/mainsail/source/transaction.service.votes.test.ts
  packages/mainsail/test/fixtures/client/cryptoConfiguration.json
  pnpm-lock.yaml
Labels: refactor

#171 refactor: enable WIF mainsail tests
  packages/mainsail/source/wif.service.test.ts
  packages/mainsail/test/fixtures/identity.ts
Labels: refactor

#174 refactor: contact address test
  packages/profiles/source/contact-address.test.ts
Labels: refactor

#172 refactor: update test coverage script
  packages/mainsail/package.json
Labels: refactor

#175 refactor: exclude source and types from coverage
  packages/mainsail/.nycrc
Labels: refactor

#178 refactor: update known wallet urls for mainsail devnet
  packages/mainsail/source/known-wallet.service.test.ts
  packages/mainsail/source/networks/mainsail.devnet.ts
Labels: refactor

#173 refactor: contact address repository test
  packages/profiles/source/contact-address.repository.test.ts
  packages/profiles/source/contact.repository.test.ts
Labels: refactor

#180 refactor: adjust tx success in dto
  packages/mainsail/source/confirmed-transaction.dto.test.ts
  packages/mainsail/source/confirmed-transaction.dto.ts
  packages/mainsail/test/fixtures/client/transfer-transaction.json
Labels: refactor

#183 feat: setup eth ledger app for mainsail
  packages/mainsail/package.json
  packages/mainsail/source/ledger.service.ts
  packages/mainsail/source/networks/mainsail.devnet.ts
  pnpm-lock.yaml
Labels: feature

#182 feat: evm call for getting usernames
  packages/ark/source/client.service.ts
  packages/mainsail/source/client.service.test.ts
  packages/mainsail/source/client.service.ts
  packages/mainsail/source/networks/mainsail.devnet.ts
  packages/mainsail/source/transaction.service.ts
  packages/mainsail/source/usernames.service.test.ts
  packages/mainsail/source/usernames.service.ts
  packages/profiles/source/container.models.ts
  packages/profiles/source/contracts.ts
  packages/profiles/source/driver.ts
  packages/profiles/source/environment.ts
  packages/profiles/source/usernames.service.contract.ts
  packages/profiles/source/usernames.service.test.ts
  packages/profiles/source/usernames.service.ts
  packages/profiles/test/mocking.ts
  packages/sdk/source/client.contract.ts
  packages/sdk/source/client.service.ts
  packages/sdk/source/collections.ts
  packages/sdk/source/contracts.ts
  packages/sdk/source/dto.ts
  packages/sdk/source/evm.contract.ts
  packages/sdk/source/network.models.ts
  packages/sdk/source/service-provider.contract.ts
  packages/sdk/source/service-provider.ts
  packages/sdk/source/services.ts
  packages/sdk/source/username.dto.test.ts
  packages/sdk/source/username.dto.ts
  packages/sdk/source/usernames.collection.test.ts
  packages/sdk/source/usernames.collection.ts
  packages/sdk/source/usernames.contract.ts
  packages/sdk/source/usernames.service.ts
Labels: feature

#187 chore: remove `hw-app-eth` dependency
  packages/mainsail/package.json
  packages/mainsail/source/ledger.service.ts
  pnpm-lock.yaml
Labels: chore
